<h1>Bienvenido!</h1>
<div class="snippet">
  <form action="/" method="POST">
    <label for="opc">Seleccione lenguaje: </label>
    <select name="opc" id="opc">
      <option value="'ruby'">Ruby</option>
      <option value="'xml'">Xml</option>
      <option value="'yaml'">Yaml</option>
    </select> 
    <textarea name="body" id="body" rows="15" placeholder="escriba aquí el código"></textarea>
    <br/><input type="submit" value="Go!"/>
  </form>
</div>
